<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Handling of Web-Forms(DjangoForms) in Flask</h1>
        <form method="POST">
            <table>

                {{WF.name.label}} :- 
                {{WF.name}} <br><br>
                {{WF.age.label}} :-  
                {{WF.age}} <br><br>
                {{WF.submit}}
            </table>
        </form>
    </center>
</body>
</html>